/data_files/
/share_files/
/npdata/
/npdata_backup/
/__pycache__/
code/venv/
code/__pycache__/
/tock_data/
/tock_data*/
/data_joblib/
/venv/
/comp_scripts/
*.pyc
code/settings.py
code/web/db.sqlite3
code/web/instance/local_settings.py
**/*.egg-info/